@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

@layer utilities {
  .grid-auto-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }
}
